---
layout: default
title: Fish 4 Games
tagline: Game Development Blog
---
{% include JB/setup %}

<div ng-controller="CarouselCtrl">
	<carousel interval="myInterval">
		<slide ng-repeat="slide in indexSlides" active="slide.active">
			<img ng-src="{{ site.leftCurleys }} slide.image {{ site.rightCurleys }}" style="margin:auto;">
		</slide>
	</carousel>
</div>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, magnam nemo sint eius temporibus aspernatur aperiam! Quo, exercitationem ipsam culpa molestias assumenda tempore error incidunt odio sit earum maxime expedita!</div>
<div>Expedita, veritatis obcaecati officia sint et molestiae ipsam adipisci ex! Dicta, iusto, placeat, hic eos tempora odio unde facere labore sed accusantium nulla aliquam tempore ab voluptate neque magni cumque?</div>
<div>Ea, eos, sapiente, quis laudantium reiciendis fugiat repellat voluptatem rem nisi pariatur debitis sequi placeat deleniti ipsa recusandae quam earum praesentium delectus et sunt voluptatum molestiae explicabo accusamus voluptatibus repellendus?</div>
<div>Architecto, dolores reprehenderit eius modi corporis ipsum quia dolore molestias dignissimos illo amet at ab neque deserunt doloremque non iste quaerat et! Cumque, excepturi, soluta consequuntur illum laborum cum veritatis.</div>
<div>Praesentium, aliquam, voluptate, id placeat eaque ratione omnis suscipit fugiat enim distinctio nam commodi aspernatur ipsum? Molestiae, ullam, ducimus, deserunt aspernatur nesciunt minima culpa voluptatum vitae dolorem autem tempore recusandae.</div>
<div>Quisquam, enim accusantium quas quae porro natus ex repellendus earum veniam quo aliquid odit sit eligendi asperiores eaque! Accusamus, suscipit unde soluta ullam at esse perferendis nesciunt nulla molestias alias!</div>
<div>Quibusdam, quia amet rem vitae mollitia doloribus sunt esse distinctio fugiat. Veniam, libero, amet, ea, quae sapiente officia commodi porro atque ut itaque fugit quos repellendus incidunt nihil architecto pariatur.</div>
<div>Vero, nesciunt, animi, modi voluptatem molestiae sapiente inventore officiis in quos blanditiis excepturi quibusdam rem quidem obcaecati porro nemo atque facere amet earum illo? Eum nihil molestiae quibusdam cupiditate quo.</div>
<div>Asperiores, hic tenetur autem voluptatem obcaecati nesciunt temporibus quam laborum veritatis eligendi iste ea voluptas dolorum voluptate nobis corrupti nihil ex ratione beatae odio eveniet quae molestias mollitia consequuntur fuga!</div>
<div>Fugit, vel, dolores, nemo, tenetur sint quos eum quam ratione perspiciatis corporis enim possimus repudiandae? Ipsum, neque, sit incidunt iusto tempore voluptate molestias officiis repellendus. Laudantium quasi animi ratione sequi.</div>