---
layout: default
title: Fish 4 Games
tagline: Game Development Blog
---
{% include JB/setup %}

<h2>Currently Developing Game:</h2>
<div ng-controller="CarouselCtrl">
	<carousel interval="myInterval">
		<slide ng-repeat="slide in indexSlides" active="slide.active">
			<img ng-src="{{ site.leftCurleys }} slide.image {{ site.rightCurleys }}" style="margin:auto;">
		</slide>
	</carousel>
</div>

<div class="latest-post">
	{% assign post = site.posts.first %}
	{% assign content = post.content %}

	<h3>
		{% if post.title %}
			<a href="{{ root_url }}{{ post.url }}">{{ post.title }} - <small>{{ post.tagline }}</small></a>
		{% endif %}
	</h3>
	<div class="entry-content">
		{{ content }}
	</div>
	{% include JB/comments %}
</div>