<aside>
	<div class="slider-title">
		<h1>
			<span tooltip-placement="bottom" tooltip="Back to Index">
				<a href="/">
					{{ site.title }}
				</a>
			</span>
		</h1>
		<div class="tagline"><small>- {{ site.tagline }}</small></div>
	</div>
	<nav>
		<ul class="menu">
			<li><a href="/Portfolio">Project</a></li>
			<li><a href="/About">About</a></li>
			<li><a href="/Blog">Blog</a></li>
		</ul>
		<div class="clean"></div>
		<ul class="social">
			<li>
				<a href="http://github.com/{{ site.author.github }}" class="zocial github icon" target="_blank"></a>
			</li>
			<li>
				<a href="http://twitter.com/{{ site.author.twitter }}" class="zocial twitter icon" target="_blank"></a>
			</li>
			<li>
				<a href="mailto:{{ site.author.email }}" class="zocial gmail icon" target="_blank"></a>
			</li>
		</ul>
	</nav>
	<div class="clean"></div>
</aside>
<div class="clean"></div>