body {
	background: #424242;	
	color: #ececec;
	margin: 0;
	padding: 0;
	border: 0;
}

* {
	padding: 0;
	margin: 0;
}

#main-container {
	width: 980px;
	height: 100%;
	min-height: 100%;
	margin: 0 auto;
}

.clean {
	clear: both;
}

footer {
	width: 100%;
	border: 1px solid;
	text-align: center;
}

aside {
	text-align: right;
	float: left;
	width: 275px;
	position: fixed;
	margin-top: 50px;
}

nav {
	float: right;
	margin-top: 30px;
	margin-right: 20px;
}

nav ul {
	list-style-type: none;
	display: inline;
	text-align: center;
}

.slider-title {
	text-align: center;
	margin: 20px;
}

.slider-title h1 {
	font-size: 33.5px;
}

aside .tagline {
	text-align: right;
}

nav ul li {
	line-height: 40px;
}

nav ul.menu li a {
	font-size: 150%;
	text-decoration: none;
	padding: 5px;
	border: 1px dashed;
	display: inline-block;
	width: 75px;
}

nav ul.menu li a:hover {
	opacity: 50%;
	background: #fff;
}

nav ul.social li {
	border: 1px solid;
	float: left;
	line-height: 0;
}

.social {
	text-align: center;
}

.main-content {
	padding-left: 30px;
	padding-top: 50px;
	padding-right: 20px;
	height: 760px;
	width: 655px;
	float: right;
	border-left: 2px dashed #000;
	overflow: auto;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.post-content {
	width: 100%;
}

.post-container {
	width: 100%;
}

.posts {
	width: 100%;
}

.posts ul {
	list-style-type: none;
}

.posts ul li {
	border-bottom: 1px dashed;
}

.posts p.description {
	font-size: 80%;
}

.latest-post {
	width: 100%;
	border-top: 1px dashed;
}

canvas { 
	border: 0;
	display: block;
	margin: 0 auto;
}