body {
	background: #424242;	
	color: #ececec;
	margin: 0;
	padding: 0;
	border: 0;
}

* {
	padding: 0;
	margin: 0;
}

#main-container {
	width: 980px;
	height: 760px;
	margin: 0 auto;
}

.clean {
	clear: both;
}

aside {
	float: left;
	width: 275px;
	position: fixed;
}

.main-content {
	height: 760px;
	float: right;
}