body {
	background: #424242;	
	color: #ececec;
	margin: 0;
	padding: 0;
	border: 0;
}

* {
	padding: 0;
	margin: 0;
}

#main-container {
	width: 980px;
	margin: 0 auto;
}

aside {
	float: left;
	width: 275px;
	position: fixed;
	border-right: 1px dashed;
	background: #6D6D6D;
}

.main-content {
	float: right;
}